<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" >	 	 
 	<head>
 		<meta charset="UTF-8">	 
 	 	<title> HOME </title>
 	</head>	 
 	
 	<body>	 
 	<!--
 	<div th:if="${msgExito !n null}">
 		[[${msgExito}]]
 	</div  >
 	
 	-->
 	 	<h3 > Lista de Contactos </h3 >
 	 	
 	 	<a href="/nuevo"> Nuevo Contacto </a>
 	 	
 	 	<br> <br>
 	 	
 	 	<table >
 	 		<thead style="background: rgba(121, 222, 251, 0.3); border: 1px">
 	 			<tr >
 	 				<th > Nº </th >
 	 				<th> Nombre </th>
 	 				<th> Teléfono </th>
 	 				<th> Celular </th>
 	 				<th> E-mail </th>
 	 				<th> Citas</th>
 	 				<th> Tipo de Contacto</th>
 	 				<th> Dirección </th>
 	 			</tr >
 	 		</thead >
 	 		
 	 		<tbody>
 	 			<tr >
 	 				<td > 1 </td >
 	 				<td > Juan Hernandez Cruz </td >
 	 				<td > 2200-5566 </td >
 	 				<td > 7788-9963 </td >
 	 				<td > juancruz@hotmail.com </td >
 	 				<td > 16/12/2021 </td >
 	 				<td > Familiar </td >
 	 				<td > Colonia, San Benito San Savador</td >
 	 				
 	 			</tr >
 	 		</tbody>
 	 	</table >
 	</body>	 
</html>
